nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lobe-logo {
    width: 10%;
    font-weight: bold;
}

.nav-item {
    padding-left: 2rem;
    font-size: 18px;
    font-weight: 500;
}

.nav-link {
    color: black;
    transition: 0.6s ease-in-out;
}

.nav-link:hover {
    color: rgba(195, 193, 193, 0.722) !important;
}

.navbar-nav {
    display: flex;
    margin-left: 27%;
}

.navbar-toggler {
    background-size: 50%;
    border: #fff;
    text-align: center;
    background-repeat: no-repeat;
}

.navbar-toggler:hover {
    border: #fff;
}

.green {
    color: #04ddb2;
}

.download-btn {
    background-color: #F11A7B;
    outline: none;
    border-radius: 13.5rem;
    outline: #F11A7B;
    padding: 0.3 2rem;
    font-weight: 700;
    color: #fff;
    font-size: large;
    margin-top: 0.2rem;
    border-color: #F11A7B;
    margin-right: 3rem;
    /* margin-left: 25%; */
    transition: 0.4s ease-in-out;
}

.download-btn:hover {
    background-color: #982176;
    border-color: #982176;
}

.form-control{
    border-radius: 90px;
}

.fire {
    color: #FF8551;
}

.text-main{
    text-align: center;
    font-family: 'Roboto';
}
.main{
    padding:2rem;
    margin-top: 3rem;
}