*{
    color: #fff;
    overflow-x:hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lobe-logo {
    width: 10%;
    font-weight: bold;
}

.nav-item {
    padding-left: 2rem;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: rgba(195, 193, 193, 0.722) !important;
}

.navbar-nav {
    display: flex;
    margin-left: 27%;
}

.navbar-toggler {
    background-size: 50%;
    border: #fff;
    text-align: center;
    background-repeat: no-repeat;
}

.navbar-toggler:hover {
    border: #fff;
}

.green {
    color: #04ddb2;
}

.download-btn {
    background-color: #F11A7B;
    outline: none;
    border-radius: 13.5rem;
    outline: #F11A7B;
    padding: 0.3 2rem;
    font-weight: 700;
    color: #fff;
    font-size: large;
    margin-top: 0.2rem;
    border-color: #F11A7B;
    margin-right: 3rem;
    /* margin-left: 25%; */
    transition: 0.4s ease-in-out;
}

.download-btn:hover {
    background-color: #982176;
    border-color: #982176;
}

.form-control{
    border-radius: 90px;
}

.fire {
    color: #FF8551;
}

.main{
    padding-top: 30.6869420vw;
    margin-left: 1.1vw;
}
.text-main{
    
}

.main-p{
    font-weight: 500;
    margin-left: 1.1vw;
    font-size: 150%;
}

.bg-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.video {
    height: 250px;
    width: 350px;
    border-radius: 5px;
    border: 5px solid #fff;
    cursor: pointer;
    overflow: hidden;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

video:hover {
    transform: scale(1.1);
}

.popup-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: none;
}
